* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calculator-box {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    border: 5px solid;
}

.display {
    border: 3px solid goldenrod;
    margin: 8px;
    padding: 5px;
}

.buttons {
    border: 3px solid goldenrod;
    margin: 8px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.button {
    border: 2px solid;
    padding: 10px;
    flex: 1;
}

.top-row {
    display: flex;
    justify-content: space-evenly;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}



